.AgentSignup {
  .FormArea {
    padding: 40px 20px;
  }
  .IllustrationArea {
    padding: 100px 50px;
    text-align: center;
    background-image: url("/img/account-bgd.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
  }
}
