@font-face {
	font-family: 'AktivGrotesk';
	src: url('/fonts/AktivGrotesk-Regular.eot');
	src: local('☺'), url('/fonts/AktivGrotesk-Regular.woff') format('woff'), url('/fonts/AktivGrotesk-Regular.ttf') format('truetype'), url('/fonts/AktivGrotesk-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
  font-family: 'AktivGrotesk';
  src: url('/fonts/AktivGrotesk-Medium.eot');
  src: local('☺'), url('/fonts/AktivGrotesk-Medium.woff') format('woff'), url('/fonts/AktivGrotesk-Medium.ttf') format('truetype'), url('/fonts/AktivGrotesk-Medium.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'AktivGrotesk';
  src: url('/fonts/AktivGrotesk-Bold.eot');
  src: local('☺'), url('/fonts/AktivGrotesk-Bold.woff') format('woff'), url('/fonts/AktivGrotesk-Bold.ttf') format('truetype'), url('/fonts/AktivGrotesk-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
